$primary: #62E636;
$secondary: #130a99;
$background: #14121d;
$border: rgb(20,18,29,0.5);
$tertiary: #d33891;
$tertiary-hover: rgba(211,56,145,80);


$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-width: 1280px;

@mixin mobile{
    @media (min-width:#{$mobile-width}){
        @content
    }
}
@mixin tablet{
    @media (min-width:#{$tablet-width}){
        @content
    }
}
@mixin desktop{
    @media (min-width:#{$desktop-width}){
        @content
    }
}
@mixin large{
    @media (min-width:#{$large-width}){
        @content
    }
}