*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $background;
    color: #fffefe;
}
.wrapper{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;

    @include tablet{
        flex-direction: row;
    }
}